@import "typography";

.header {
  display: flex;
  justify-content: space-between;

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;

  border-bottom: 1px solid #e2e6e9;
  background-color: #fff;

  &__nav-wrapper {
    display: flex;
    height: 100%;
    align-self: center;
  }

  &__buttons-wrapper {
    display: flex;
  }

  &__logo {
    margin: 0 60px 0 24px;
    @extend %uppercase;
  }

  &__favorites {
    // background-image: url(../../images/heart.png);
    // background-position: center;
    // background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1px solid #e2e6e9;
  }

  &__card {
    // background-image: url(../../images/basket.png);
    // background-position: center;
    // background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1px solid #e2e6e9;
  }
}

.navigation {
  &__list {
    list-style: none;

    display: flex;
    justify-content: space-between;
    justify-self: flex-start;

    width: 30vw;
  }

  &__item a {
    @extend %uppercase;
    text-decoration: none;
    color: #89939a;
  }
}
